<div class="root">
`  <h1 class="col1">Fortnite Coaching</h1>
    <div class="col-md-12 module">
      <div class="module-island">
        <div class="module-island-nav">
          <p>Make a new Appointment</p>
        </div>
        <div class="module-table">
        <div class="module-words">
          <p class="words">Create a new meeting for your student</p>
        <div class="module-p">
          <p><%= link_to "New Appointment", new_appointment_path, class: "navbar-text work navbar-link navbar-right" %></p>
        </div>
        </div>
      </div>
    </div>
  </div>`
</div>
