// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appointment, .client, .location {
  line-height: 10px;
  margin-bottom: 25px;
}

.simple-calendar {
  width: 90%;
  height: 100%;
  float: right;
  clear: both;
  right: 30px;
  border: 2px solid black;
  border-radius: 8px;
}

.indexpage {
  width: 400px;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 50px;
}

.index {
  width: 100%;
  height: 100%;
}

.appindex {
  width: 90%;
  height: 100%;
  float: right;
  clear: both;
  right: 30px;
  border-radius: 8px;
  margin-top: -110px;
}

.col-md-4.meet {
 left: 70px;
}

.col-md-8.app {
  right: 30px;
  border-radius: 10px;
}

.day {
  border: 1px solid black;
}

.navbar {
  border-bottom: 1px solid black;
  background: #663096;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #fff;
}


.work {
  margin-right: 25px;
}

.meet {
  border: 2px solid black;
  border-radius: 8px;
}
